.contact{
    background-color:rgb(44, 44, 44);
    height:400px;
    margin-top:80px;
    display:flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
}
.contactflex
{
     display:flex;
    flex-direction: row;
     position:absolute;
    column-gape:10px;
    left:0;
    right:0;
    top:0;
    justify-content: center;
    align-items: center;
}
.contact1
{
   
    width:180px;
    margin-top:20px;
    height:260px;
    display:flex;
    padding-left:30px;
    flex-direction: column;
    border-radius: 20px;
    padding-top:20px;
    background-color: #e0e5ec;
    box-shadow: 10px 10px 20px #a3b1c6 inset, inset -10px -10px 20px #ffffff;

}
.nextflex{
    display:flex;
    color:white;
    flex:1;
    position:absolute;
    bottom:0;
    margin-top:10px;
    padding-top:20px;
    justify-content: center;
    border-top:2px solid rgb(255, 255, 255);
    z-index: 100;

}

